.startstop {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5vh;
  z-index: 1000;
}
.startstop button {
  background-color: transparent;
  border: 2px white solid;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  color: white;
  min-height: 60px;
  min-width: 50px;
  font-size: 35px;
  padding: 10px 10px;
}
.startstop button:active {
  border-color: #727272;
  color: #727272;
}
.date {
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.date input {
  background-color: transparent;
  color: white;
  border: 2px white solid;
  border-radius: 30px;
  padding: 5px;
}
.range {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15vh 5vh;
}
