@import url("https://fonts.googleapis.com/css2?family=Armata&display=swap");
/* font-family: 'Armata', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
/* font-family: 'Berkshire Swash', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* font-family: 'Lato', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Poppins', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Raleway', sans-serif; */
:root {
  --mercury-year: translate(-50%, -50%);
  --venus-year: translate(-50%, -50%);
  --earth-year: translate(-50%, -50%);
  --moon: translate(-50%, -50%);
  --mars-year: translate(-50%, -50%);
  --ceres-year: translate(-50%, -50%);
  --asteroids-belt: translate(-50%, -50%);
  --jupiter-year: translate(-50%, -50%);
  --saturn-year: translate(-50%, -50%);
  --saturn-after: rotateZ(-52deg);
  --uranus-year: translate(-50%, -50%);
  --neptune-year: translate(-50%, -50%);
  --pluto-year: translate(-50%, -50%);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  background: #191919;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background: radial-gradient(ellipse at bottom, #2e3e55 0, #0f0f1b 100%);
}
.solar {
  height: 100%;
  width: 100%;
}
.solar div:not(.date) {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1000px;
}
.solar div:not(.sun, .date) {
  border: 1px solid rgba(102, 166, 229, 0.12);
  border-radius: 100%;
}
.solar div:not(.sun, .asteroids-belt, .date)::before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.solar div:not(.date, .asteroids-belt):before {
  box-shadow: inset 0 5px 0 -2px rgb(0 0 0 / 25%);
}
.sun {
  background: radial-gradient(
      ellipse at center,
      #ffd000 10%,
      #f5bb19 39%,
      #ffbb00 39%,
      #ff8700 100%
    ) -28px -103px;
  box-shadow: 0 0 10px 2px rgb(255 107 0 / 40%),
    0 0 22px 11px rgb(255 203 0 / 13%);
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 100%;
}
.mercury {
  height: 70px;
  width: 70px;
  z-index: 990;
  transform: var(--mercury-year);
  transition: ease;
}
.mercury::before {
  display: block;
  height: 4px;
  width: 4px;
  background-color: #9f5e26;
}
.venus {
  height: 100px;
  width: 100px;
  z-index: 980;
  transform: var(--venus-year);
}
.venus::before {
  display: block;
  height: 8px;
  width: 8px;
  background: #beb768;
}
.earth {
  height: 145px;
  width: 145px;
  z-index: 970;
  transform: var(--earth-year);
}
.earth::before {
  display: block;
  height: 8px;
  width: 8px;
  background: #0f77ff;
}
.earth::after {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: var(--moon);
  box-shadow: 0 -10px 0 -8px grey;
  border-radius: 100%;
}
.mars {
  height: 190px;
  width: 190px;
  z-index: 960;
  transform: var(--mars-year);
}
.mars::before {
  height: 6px;
  width: 6px;
  background: #cf3921;
}
.ceres {
  height: 260px;
  width: 260px;
  z-index: 955;
  transform: var(--ceres-year);
}
.ceres::before {
  display: block;
  height: 5px;
  width: 5px;
  background-color: #aaaaaa;
}
.asteroids-belt {
  height: 300px;
  width: 300px;
  border-color: transparent !important;
  overflow: hidden;
  z-index: 950;
  transform: var(--asteroids-belt);
}
.asteroids-belt::before {
  content: "";
  height: 210px;
  width: 210px;
  border-radius: 140px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 33px -53px 0 -104px rgb(255 255 255 / 28%),
    5px -17px 0 -104px rgb(255 255 255 / 49%),
    113px -54px 0 -104px rgb(255 255 255 / 59%),
    -134px -73px 0 -104px rgb(255 255 255 / 66%),
    101px 70px 0 -104px rgb(255 255 255 / 39%),
    -51px -90px 0 -104px rgb(255 255 255 / 20%),
    8px -140px 0 -104px rgb(255 255 255 / 52%),
    -120px 139px 0 -104px rgb(255 255 255 / 22%),
    85px 143px 0 -104px rgb(255 255 255 / 12%),
    -80px -42px 0 -104px rgb(255 255 255 / 4%),
    -106px 2px 0 -104px rgb(255 255 255 / 83%),
    -37px -40px 0 -104px rgb(255 255 255 / 88%),
    61px 15px 0 -104px rgb(255 255 255 / 15%),
    -6px -130px 0 -104px rgb(255 255 255 / 45%),
    -50px -109px 0 -104px rgb(255 255 255 / 9%),
    -62px 106px 0 -104px rgb(255 255 255 / 14%),
    139px -103px 0 -104px rgb(255 255 255 / 36%),
    -61px 88px 0 -104px rgb(255 255 255 / 78%),
    -34px -76px 0 -104px rgb(255 255 255 / 31%),
    -18px 114px 0 -104px rgb(255 255 255 / 49%),
    64px 62px 0 -104px rgb(255 255 255 / 43%),
    84px 82px 0 -104px rgb(255 255 255 / 94%),
    -92px 92px 0 -104px rgb(255 255 255 / 71%),
    1px 90px 0 -104px rgb(255 255 255 / 69%),
    -64px -26px 0 -104px rgb(255 255 255 / 25%),
    124px 101px 0 -104px rgb(255 255 255 / 1%),
    -37px -55px 0 -104px rgb(255 255 255 / 56%),
    -61px -37px 0 -104px rgb(255 255 255 / 91%),
    -118px -68px 0 -104px rgb(255 255 255 / 56%),
    59px -106px 0 -104px rgb(255 255 255 / 15%),
    -7px -54px 0 -104px rgb(255 255 255 / 64%),
    -37px -28px 0 -104px rgb(255 255 255 / 36%),
    145px 29px 0 -104px rgb(255 255 255 / 40%),
    19px -76px 0 -104px rgb(255 255 255 / 10%),
    -63px -38px 0 -104px rgb(255 255 255 / 85%),
    129px -16px 0 -104px rgb(255 255 255 / 51%),
    124px 78px 0 -104px rgb(255 255 255 / 55%),
    -133px -113px 0 -104px rgb(255 255 255 / 85%),
    51px -93px 0 -104px rgb(255 255 255 / 12%),
    129px -48px 0 -104px rgb(255 255 255 / 78%),
    -62px 113px 0 -104px rgb(255 255 255 / 67%),
    134px -24px 0 -104px rgb(255 255 255 / 79%),
    90px -96px 0 -104px rgb(255 255 255 / 95%),
    32px 70px 0 -104px rgb(255 255 255 / 51%),
    -126px 13px 0 -104px rgb(255 255 255 / 14%),
    86px 122px 0 -104px rgb(255 255 255 / 75%),
    -107px 67px 0 -104px rgb(255 255 255 / 44%),
    -115px 110px 0 -104px rgb(255 255 255 / 90%),
    34px 96px 0 -104px rgb(255 255 255 / 62%),
    83px 96px 0 -104px rgb(255 255 255 / 75%),
    71px 27px 0 -104px rgb(255 255 255 / 57%),
    -108px -12px 0 -104px rgb(255 255 255 / 26%),
    -80px -129px 0 -104px rgb(255 255 255 / 9%),
    57px -21px 0 -104px rgb(255 255 255 / 70%),
    59px -44px 0 -104px rgb(255 255 255 / 97%),
    -125px -31px 0 -104px rgb(255 255 255 / 58%),
    -58px -42px 0 -104px rgb(255 255 255 / 62%),
    98px -114px 0 -104px rgb(255 255 255 / 95%),
    -118px 1px 0 -104px rgb(255 255 255 / 28%),
    -103px 36px 0 -104px rgb(255 255 255 / 9%),
    -96px 72px 0 -104px rgb(255 255 255 / 8%),
    -44px -116px 0 -104px rgb(255 255 255 / 4%),
    55px -31px 0 -104px rgb(255 255 255 / 45%),
    -104px -140px 0 -104px rgb(255 255 255 / 32%),
    -121px 89px 0 -104px rgb(255 255 255 / 33%),
    63px -102px 0 -104px rgb(255 255 255 / 57%),
    -42px 29px 0 -104px rgb(255 255 255 / 63%),
    72px -31px 0 -104px rgb(255 255 255 / 34%),
    -72px 130px 0 -104px rgb(255 255 255 / 88%),
    -120px -29px 0 -104px rgb(255 255 255 / 34%),
    47px 43px 0 -104px rgb(255 255 255 / 36%),
    -144px 93px 0 -104px rgb(255 255 255 / 81%),
    2px 31px 0 -104px rgb(255 255 255 / 49%),
    112px 97px 0 -104px rgb(255 255 255 / 64%),
    -1px -97px 0 -104px rgb(255 255 255 / 98%),
    69px -120px 0 -104px rgb(255 255 255 / 67%),
    -42px -75px 0 -104px rgb(255 255 255 / 93%),
    50px -67px 0 -104px rgb(255 255 255 / 2%),
    -62px 45px 0 -104px rgb(255 255 255 / 38%),
    -58px 35px 0 -104px rgb(255 255 255 / 14%),
    -51px 120px 0 -104px rgb(255 255 255 / 44%),
    100px -25px 0 -104px rgb(255 255 255 / 65%),
    -44px 83px 0 -104px rgb(255 255 255 / 67%),
    46px 111px 0 -104px rgb(255 255 255 / 37%),
    95px 125px 0 -104px rgb(255 255 255 / 49%),
    83px 46px 0 -104px rgb(255 255 255 / 42%),
    60px 110px 0 -104px rgb(255 255 255 / 26%),
    99px 86px 0 -104px rgb(255 255 255 / 87%),
    33px -39px 0 -104px rgb(255 255 255 / 22%),
    41px -2px 0 -104px rgb(255 255 255 / 20%),
    -74px 22px 0 -104px rgb(255 255 255 / 21%),
    124px -92px 0 -104px rgb(255 255 255 / 5%),
    -96px -90px 0 -104px rgb(255 255 255 / 33%),
    42px -112px 0 -104px rgb(255 255 255 / 55%),
    57px -22px 0 -104px rgb(255 255 255 / 58%),
    78px 80px 0 -104px rgb(255 255 255 / 61%),
    62px 43px 0 -104px rgb(255 255 255 / 4%),
    -26px 24px 0 -104px rgb(255 255 255 / 9%),
    38px 14px 0 -104px rgb(255 255 255 / 13%),
    86px 45px 0 -104px rgb(255 255 255 / 70%),
    -98px 122px 0 -104px rgb(255 255 255 / 44%),
    50px 121px 0 -104px rgb(255 255 255 / 14%),
    -95px 56px 0 -104px rgb(255 255 255 / 53%),
    -32px -118px 0 -104px rgb(255 255 255 / 100%),
    143px -34px 0 -104px rgb(255 255 255 / 79%),
    -53px 89px 0 -104px rgb(255 255 255 / 19%),
    75px 108px 0 -104px rgb(255 255 255 / 49%),
    128px 28px 0 -104px rgb(255 255 255 / 83%),
    139px 96px 0 -104px rgb(255 255 255 / 4%),
    -106px -33px 0 -104px rgb(255 255 255 / 38%),
    67px -23px 0 -104px rgb(255 255 255 / 74%),
    -135px -35px 0 -104px rgb(255 255 255 / 79%),
    52px 12px 0 -104px rgb(255 255 255 / 23%),
    -35px -46px 0 -104px rgb(255 255 255 / 89%),
    70px -15px 0 -104px rgb(255 255 255 / 60%),
    -85px 65px 0 -104px rgb(255 255 255 / 52%),
    -68px -133px 0 -104px rgb(255 255 255 / 87%),
    -101px 90px 0 -104px rgb(255 255 255 / 54%),
    -137px -130px 0 -104px rgb(255 255 255 / 6%),
    59px 19px 0 -104px rgb(255 255 255 / 19%),
    -61px 26px 0 -104px rgb(255 255 255 / 44%),
    -128px -86px 0 -104px rgb(255 255 255 / 78%),
    -39px -83px 0 -104px rgb(255 255 255 / 88%),
    -104px 75px 0 -104px rgb(255 255 255 / 94%),
    -45px -122px 0 -104px rgb(255 255 255 / 21%),
    -76px -135px 0 -104px rgb(255 255 255 / 81%),
    83px -33px 0 -104px rgb(255 255 255 / 32%),
    39px 93px 0 -104px rgb(255 255 255 / 14%),
    -58px -124px 0 -104px rgb(255 255 255 / 36%),
    -94px -144px 0 -104px rgb(255 255 255 / 88%),
    -55px -122px 0 -104px rgb(255 255 255 / 30%),
    14px 34px 0 -104px rgb(255 255 255 / 28%),
    24px -21px 0 -104px rgb(255 255 255 / 69%),
    -8px -134px 0 -104px rgb(255 255 255 / 97%),
    102px 91px 0 -104px rgb(255 255 255 / 8%),
    60px -54px 0 -104px rgb(255 255 255 / 99%),
    -132px -121px 0 -104px rgb(255 255 255 / 50%),
    -58px -28px 0 -104px rgb(255 255 255 / 2%),
    119px -24px 0 -104px rgb(255 255 255 / 43%),
    143px 57px 0 -104px rgb(255 255 255 / 11%),
    -65px 130px 0 -104px rgb(255 255 255 / 59%),
    120px -26px 0 -104px rgb(255 255 255 / 69%),
    16px -49px 0 -104px rgb(255 255 255 / 10%),
    -109px 87px 0 -104px rgb(255 255 255 / 51%),
    -23px -58px 0 -104px rgb(255 255 255 / 57%),
    -65px 88px 0 -104px rgb(255 255 255 / 45%),
    -49px 6px 0 -104px rgb(255 255 255 / 8%),
    -13px -98px 0 -104px rgb(255 255 255 / 35%),
    79px -139px 0 -104px rgb(255 255 255 / 8%),
    -86px 139px 0 -104px rgb(255 255 255 / 19%),
    -74px 13px 0 -104px rgb(255 255 255 / 68%),
    53px 14px 0 -104px rgb(255 255 255 / 33%),
    37px -125px 0 -104px rgb(255 255 255 / 34%),
    11px -94px 0 -104px rgb(255 255 255 / 52%),
    80px -49px 0 -104px rgb(255 255 255 / 49%),
    -46px 100px 0 -104px rgb(255 255 255 / 83%),
    -14px -26px 0 -104px rgb(255 255 255 / 10%),
    48px 61px 0 -104px rgb(255 255 255 / 14%),
    -132px -73px 0 -104px rgb(255 255 255 / 84%),
    9px -58px 0 -104px rgb(255 255 255 / 69%),
    -51px 140px 0 -104px rgb(255 255 255 / 27%),
    73px 68px 0 -104px rgb(255 255 255 / 38%),
    9px 49px 0 -104px rgb(255 255 255 / 6%),
    -122px 71px 0 -104px rgb(255 255 255 / 63%),
    121px 123px 0 -104px rgb(255 255 255 / 37%),
    -62px -49px 0 -104px rgb(255 255 255 / 34%),
    19px -46px 0 -104px rgb(255 255 255 / 66%),
    -19px 20px 0 -104px rgb(255 255 255 / 7%),
    -104px 72px 0 -104px rgb(255 255 255 / 44%),
    121px -62px 0 -104px rgb(255 255 255 / 4%),
    130px 11px 0 -104px rgb(255 255 255 / 74%),
    -89px 46px 0 -104px rgb(255 255 255 / 25%),
    -74px 46px 0 -104px rgb(255 255 255 / 82%),
    41px -109px 0 -104px rgb(255 255 255 / 1%),
    -113px 11px 0 -104px rgb(255 255 255 / 25%),
    -14px -36px 0 -104px rgb(255 255 255 / 60%),
    -72px -44px 0 -104px rgb(255 255 255 / 66%),
    41px 35px 0 -104px rgb(255 255 255 / 96%),
    47px -100px 0 -104px rgb(255 255 255 / 86%),
    129px -95px 0 -104px rgb(255 255 255 / 15%),
    -99px 22px 0 -104px rgb(255 255 255 / 77%),
    45px 13px 0 -104px rgb(255 255 255 / 58%),
    101px 2px 0 -104px rgb(255 255 255 / 41%),
    5px 107px 0 -104px rgb(255 255 255 / 10%),
    80px -31px 0 -104px rgb(255 255 255 / 10%),
    39px 108px 0 -104px rgb(255 255 255 / 8%),
    -116px 65px 0 -104px rgb(255 255 255 / 82%),
    -90px -100px 0 -104px rgb(255 255 255 / 92%),
    -64px 0 0 -104px rgb(255 255 255 / 46%),
    71px -53px 0 -104px rgb(255 255 255 / 54%),
    -36px 82px 0 -104px rgb(255 255 255 / 97%),
    31px -31px 0 -104px rgb(255 255 255 / 22%),
    41px -1px 0 -104px rgb(255 255 255 / 46%),
    44px 87px 0 -104px rgb(255 255 255 / 25%),
    -82px -107px 0 -104px rgb(255 255 255 / 6%),
    72px -16px 0 -104px rgb(255 255 255 / 56%),
    43px 72px 0 -104px rgb(255 255 255 / 16%),
    -22px -35px 0 -104px rgb(255 255 255 / 57%),
    15px -121px 0 -104px rgb(255 255 255 / 72%),
    -42px -2px 0 -104px rgb(255 255 255 / 25%),
    -107px 90px 0 -104px rgb(255 255 255 / 25%),
    -109px -114px 0 -104px rgb(255 255 255 / 7%),
    20px 74px 0 -104px rgb(255 255 255 / 81%),
    86px 142px 0 -104px rgb(255 255 255 / 37%),
    6px -69px 0 -104px rgb(255 255 255 / 47%),
    44px 32px 0 -104px rgb(255 255 255 / 71%),
    -23px 54px 0 -104px rgb(255 255 255 / 22%),
    -44px -130px 0 -104px rgb(255 255 255 / 26%),
    112px -87px 0 -104px rgb(255 255 255 / 86%),
    -3px 129px 0 -104px rgb(255 255 255 / 55%),
    -136px 77px 0 -104px rgb(255 255 255 / 89%),
    63px 119px 0 -104px rgb(255 255 255 / 48%),
    -76px 16px 0 -104px rgb(255 255 255 / 87%),
    66px -8px 0 -104px rgb(255 255 255 / 58%),
    91px -84px 0 -104px rgb(255 255 255 / 36%),
    -73px -53px 0 -104px rgb(255 255 255 / 51%),
    -75px -140px 0 -104px rgb(255 255 255 / 87%),
    92px 131px 0 -104px rgb(255 255 255 / 11%),
    -21px -27px 0 -104px rgb(255 255 255 / 38%),
    -118px 72px 0 -104px rgb(255 255 255 / 40%),
    -4px 79px 0 -104px rgb(255 255 255 / 67%),
    -116px 29px 0 -104px rgb(255 255 255 / 28%),
    -106px -34px 0 -104px rgb(255 255 255 / 30%),
    -30px 31px 0 -104px rgb(255 255 255 / 79%),
    -9px 100px 0 -104px rgb(255 255 255 / 10%),
    13px 121px 0 -104px rgb(255 255 255 / 3%),
    -43px -26px 0 -104px rgb(255 255 255 / 48%),
    -27px 144px 0 -104px rgb(255 255 255 / 71%),
    -22px 137px 0 -104px rgb(255 255 255 / 89%),
    -26px -104px 0 -104px rgb(255 255 255 / 98%),
    -42px -74px 0 -104px rgb(255 255 255 / 21%),
    -102px 42px 0 -104px rgb(255 255 255 / 98%),
    -9px 17px 0 -104px rgb(255 255 255 / 36%),
    30px -113px 0 -104px rgb(255 255 255 / 0%),
    -43px -124px 0 -104px rgb(255 255 255 / 28%),
    -139px 115px 0 -104px rgb(255 255 255 / 21%),
    -87px -3px 0 -104px rgb(255 255 255 / 50%),
    41px 109px 0 -104px rgb(255 255 255 / 25%),
    129px 3px 0 -104px rgb(255 255 255 / 5%),
    -105px 56px 0 -104px rgb(255 255 255 / 43%),
    62px -128px 0 -104px rgb(255 255 255 / 72%),
    -65px -36px 0 -104px rgb(255 255 255 / 82%),
    127px 107px 0 -104px rgb(255 255 255 / 23%),
    -141px -30px 0 -104px rgb(255 255 255 / 32%),
    31px -49px 0 -104px rgb(255 255 255 / 86%),
    98px 49px 0 -104px rgb(255 255 255 / 87%),
    -120px -37px 0 -104px rgb(255 255 255 / 69%),
    -88px -77px 0 -104px rgb(255 255 255 / 37%),
    145px 84px 0 -104px rgb(255 255 255 / 88%),
    15px 107px 0 -104px rgb(255 255 255 / 82%),
    -121px 61px 0 -104px rgb(255 255 255 / 4%),
    -28px -83px 0 -104px rgb(255 255 255 / 49%),
    -81px 120px 0 -104px rgb(255 255 255 / 51%),
    -100px -83px 0 -104px rgb(255 255 255 / 22%),
    -115px 12px 0 -104px rgb(255 255 255 / 76%),
    40px 12px 0 -104px rgb(255 255 255 / 83%),
    -121px -37px 0 -104px rgb(255 255 255 / 7%),
    108px 142px 0 -104px rgb(255 255 255 / 26%),
    -20px 50px 0 -104px rgb(255 255 255 / 26%),
    -144px 145px 0 -104px rgb(255 255 255 / 65%),
    -48px -130px 0 -104px rgb(255 255 255 / 71%),
    40px -76px 0 -104px rgb(255 255 255 / 98%),
    124px 75px 0 -104px rgb(255 255 255 / 37%),
    -34px -84px 0 -104px rgb(255 255 255 / 20%),
    33px -136px 0 -104px rgb(255 255 255 / 36%),
    27px -52px 0 -104px rgb(255 255 255 / 29%),
    50px 70px 0 -104px rgb(255 255 255 / 13%),
    45px 33px 0 -104px rgb(255 255 255 / 62%),
    -3px 7px 0 -104px rgb(255 255 255 / 86%),
    60px -90px 0 -104px rgb(255 255 255 / 29%),
    25px 60px 0 -104px rgb(255 255 255 / 9%),
    -44px -83px 0 -104px rgb(255 255 255 / 62%),
    -113px -65px 0 -104px rgb(255 255 255 / 3%),
    17px 62px 0 -104px rgb(255 255 255 / 19%),
    88px 92px 0 -104px rgb(255 255 255 / 37%),
    -60px -46px 0 -104px rgb(255 255 255 / 58%),
    105px -129px 0 -104px rgb(255 255 255 / 45%),
    -127px 78px 0 -104px rgb(255 255 255 / 87%),
    -3px 142px 0 -104px rgb(255 255 255 / 93%),
    15px 127px 0 -104px rgb(255 255 255 / 54%),
    -105px -39px 0 -104px rgb(255 255 255 / 17%),
    54px -94px 0 -104px rgb(255 255 255 / 17%),
    -123px -72px 0 -104px rgb(255 255 255 / 52%),
    -73px -12px 0 -104px rgb(255 255 255 / 54%),
    40px -3px 0 -104px rgb(255 255 255 / 57%),
    23px 39px 0 -104px rgb(255 255 255 / 39%),
    63px 46px 0 -104px rgb(255 255 255 / 37%),
    -13px -137px 0 -104px rgb(255 255 255 / 41%),
    38px 91px 0 -104px rgb(255 255 255 / 24%),
    -93px 29px 0 -104px rgb(255 255 255 / 53%),
    129px -30px 0 -104px rgb(255 255 255 / 58%),
    122px 133px 0 -104px rgb(255 255 255 / 31%),
    -101px 132px 0 -104px rgb(255 255 255 / 87%),
    126px -82px 0 -104px rgb(255 255 255 / 13%),
    -1px -117px 0 -104px rgb(255 255 255 / 56%),
    36px -131px 0 -104px rgb(255 255 255 / 24%),
    -84px 40px 0 -104px rgb(255 255 255 / 78%),
    39px -32px 0 -104px rgb(255 255 255 / 48%),
    43px -84px 0 -104px rgb(255 255 255 / 27%),
    130px 24px 0 -104px rgb(255 255 255 / 46%),
    -81px -93px 0 -104px rgb(255 255 255 / 72%),
    8px 9px 0 -104px rgb(255 255 255 / 3%),
    -8px -118px 0 -104px rgb(255 255 255 / 61%),
    -107px -123px 0 -104px rgb(255 255 255 / 14%),
    71px -143px 0 -104px rgb(255 255 255 / 17%),
    72px -127px 0 -104px rgb(255 255 255 / 27%),
    -72px -52px 0 -104px rgb(255 255 255 / 82%),
    -42px -73px 0 -104px rgb(255 255 255 / 90%),
    140px 105px 0 -104px rgb(255 255 255 / 15%),
    129px 144px 0 -104px rgb(255 255 255 / 69%),
    -30px -57px 0 -104px rgb(255 255 255 / 85%),
    -39px 69px 0 -104px rgb(255 255 255 / 76%),
    80px -38px 0 -104px rgb(255 255 255 / 39%),
    -133px -41px 0 -104px rgb(255 255 255 / 63%),
    125px 129px 0 -104px rgb(255 255 255 / 39%),
    -12px 129px 0 -104px rgb(255 255 255 / 84%),
    102px -46px 0 -104px rgb(255 255 255 / 57%),
    -143px 136px 0 -104px rgb(255 255 255 / 78%),
    -101px 91px 0 -104px rgb(255 255 255 / 51%),
    -30px -34px 0 -104px rgb(255 255 255 / 75%),
    19px 79px 0 -104px rgb(255 255 255 / 82%),
    -4px 112px 0 -104px rgb(255 255 255 / 52%),
    -1px -50px 0 -104px rgb(255 255 255 / 19%),
    102px 39px 0 -104px rgb(255 255 255 / 12%),
    -79px 119px 0 -104px rgb(255 255 255 / 98%),
    -5px 73px 0 -104px rgb(255 255 255 / 62%),
    13px -87px 0 -104px rgb(255 255 255 / 39%),
    -1px 110px 0 -104px rgb(255 255 255 / 14%),
    60px -100px 0 -104px rgb(255 255 255 / 17%),
    100px -81px 0 -104px rgb(255 255 255 / 2%),
    -124px 123px 0 -104px rgb(255 255 255 / 64%),
    -30px -85px 0 -104px rgb(255 255 255 / 88%),
    -46px 100px 0 -104px rgb(255 255 255 / 99%),
    -9px 62px 0 -104px rgb(255 255 255 / 2%),
    90px 130px 0 -104px rgb(255 255 255 / 30%),
    117px -28px 0 -104px rgb(255 255 255 / 21%),
    45px -10px 0 -104px rgb(255 255 255 / 20%),
    67px -130px 0 -104px rgb(255 255 255 / 81%),
    -68px 25px 0 -104px rgb(255 255 255 / 78%),
    -59px 140px 0 -104px rgb(255 255 255 / 20%),
    -101px -34px 0 -104px rgb(255 255 255 / 34%),
    -77px 28px 0 -104px rgb(255 255 255 / 4%),
    142px -105px 0 -104px rgb(255 255 255 / 56%),
    -96px -49px 0 -104px rgb(255 255 255 / 42%),
    -69px -123px 0 -104px rgb(255 255 255 / 33%),
    34px 62px 0 -104px rgb(255 255 255 / 16%),
    127px 0 0 -104px rgb(255 255 255 / 31%),
    -68px 51px 0 -104px rgb(255 255 255 / 86%),
    93px 91px 0 -104px rgb(255 255 255 / 25%),
    -109px 135px 0 -104px rgb(255 255 255 / 50%),
    -94px 42px 0 -104px rgb(255 255 255 / 28%),
    74px -55px 0 -104px rgb(255 255 255 / 14%),
    -131px 128px 0 -104px rgb(255 255 255 / 48%),
    -127px 40px 0 -104px rgb(255 255 255 / 50%),
    5px -103px 0 -104px rgb(255 255 255 / 40%),
    49px 18px 0 -104px rgb(255 255 255 / 11%),
    -108px -127px 0 -104px rgb(255 255 255 / 95%),
    80px 90px 0 -104px rgb(255 255 255 / 17%),
    -25px 140px 0 -104px rgb(255 255 255 / 35%),
    -11px -135px 0 -104px rgb(255 255 255 / 45%),
    93px 1px 0 -104px rgb(255 255 255 / 9%),
    -28px 44px 0 -104px rgb(255 255 255 / 19%),
    108px 8px 0 -104px rgb(255 255 255 / 81%),
    82px 45px 0 -104px rgb(255 255 255 / 67%),
    118px 94px 0 -104px rgb(255 255 255 / 58%),
    5px -69px 0 -104px rgb(255 255 255 / 81%),
    129px -88px 0 -104px rgb(255 255 255 / 23%),
    -61px 25px 0 -104px rgb(255 255 255 / 86%),
    38px 131px 0 -104px rgb(255 255 255 / 93%),
    -58px 35px 0 -104px rgb(255 255 255 / 47%),
    9px -69px 0 -104px rgb(255 255 255 / 44%),
    69px -135px 0 -104px rgb(255 255 255 / 77%),
    -91px -9px 0 -104px rgb(255 255 255 / 40%),
    35px -70px 0 -104px rgb(255 255 255 / 2%),
    -143px -10px 0 -104px rgb(255 255 255 / 92%),
    -107px 0 0 -104px rgb(255 255 255 / 39%),
    -38px 101px 0 -104px rgb(255 255 255 / 24%),
    -82px -47px 0 -104px rgb(255 255 255 / 45%),
    119px 66px 0 -104px rgb(255 255 255 / 52%),
    80px -120px 0 -104px rgb(255 255 255 / 29%),
    53px 30px 0 -104px rgb(255 255 255 / 0%),
    -17px 60px 0 -104px rgb(255 255 255 / 39%),
    66px -63px 0 -104px rgb(255 255 255 / 46%),
    -108px 8px 0 -104px rgb(255 255 255 / 57%),
    131px 139px 0 -104px rgb(255 255 255 / 70%),
    94px -43px 0 -104px rgb(255 255 255 / 100%),
    2px 53px 0 -104px rgb(255 255 255 / 49%),
    13px -132px 0 -104px rgb(255 255 255 / 44%),
    -50px -3px 0 -104px rgb(255 255 255 / 33%),
    62px -3px 0 -104px rgb(255 255 255 / 34%);
}
.jupiter {
  height: 340px;
  width: 340px;
  z-index: 940;
  transform: var(--jupiter-year);
}
.jupiter::before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
}
.jupiter::after {
  content: "";
  display: block;
  height: 18px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.saturn {
  height: 440px;
  width: 440px;
  z-index: 930;
  transform: var(--saturn-year);
}
.saturn::before {
  height: 12px;
  width: 12px;
  background: #e7c194;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0;
  transform: var(--saturn-after);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
}
.uranus {
  height: 520px;
  width: 520px;
  z-index: 920;
  transform: var(--uranus-year);
}
.uranus::before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
}
.neptune {
  height: 630px;
  width: 630px;
  z-index: 910;
  transform: var(--neptune-year);
}
.neptune::before {
  height: 10px;
  width: 10px;
  background: #004094;
}
.neptune::after {
  content: "";
  display: block;
  height: 17px;
  width: 17px;
  background: #004094;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.6px solid rgba(66, 66, 66, 0.3);
  border-radius: 100%;
  background: transparent;
  z-index: 800;
  overflow: hidden;
}
.pluto {
  height: 780px;
  width: 780px;
  z-index: 900;
  transform: var(--pluto-year);
}
.pluto::before {
  height: 3px;
  width: 3px;
  background: #ffffff;
}
.date {
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
  font-size: 40px;
}
